

/*===========================================================================*\
|  Category page 
\*===========================================================================*/ 



/* =============================== View options =============================== */


.cat-view-options{
   margin: 35px 0 10px; padding-bottom: 7px; border-bottom: 1px solid #e1e3e6;

   .cvo-label{line-height: 30px; color: #212224; text-transform: uppercase; }

   @media (min-width: $screen-md-min){
      .cvo-availability-col{padding-left: 0;}
   }

   .form-group{margin-bottom: 10px;}
   .form-control{height: 30px; padding: 5px 15px;}

   .cvo-view-type{display: inline-block; margin-left: 10px; vertical-align: top;
      li:last-child{padding-right: 0;}
      a{
         display: inline-block; line-height: 10px; padding: 8px; border: 1px solid #e1e3e6;
         svg{transition: all 0.3s ease; fill: #a1a8b2;}
      }
      a:hover svg, li.active a svg { fill: $primary-link-hover-color; }
   }
}


/* =============================== Pagination =============================== */

.cat-pagination{
   margin-top: 20px; margin-bottom: 30px;
   .wp-pagenavi{float: none; margin: 0;
      .btn{line-height: 25px; padding-left: 2px;}
      &:before{position: static;}
      .nextpostlink{font-size: 18px;}
   }
}