
/*===========================================================================*\
|  Product page
\*===========================================================================*/ 

.product-top-line
{
	padding:23px 0 23px 10px;
	overflow: hidden;
	margin-top: 27px;
	margin-bottom: 40px;
	border-top: 1px solid $primary-border-color;
	border-bottom: 1px solid $primary-border-color;
	.back-catalog
	{	position: relative;
		height: 46px;
		line-height: 46px;
		vertical-align: middle;
		padding: 0;
		max-width: 155px;
		min-width: 130px;
		&:not(.btn-third-col)
		{
			color: $primary-text-color;
		}
		&:after,&:before
		{
			content: "";
			display: block;
			position: absolute;
			height: 0;
			width: 0;
			left: -15px;
			top: 0;
			border-top: 23px solid transparent;
			border-bottom: 23px solid transparent;
			border-right: none;
			border-right-width: 10px;
			border-right-style: solid;
			@include transition(all 0.2s ease 0s);
		}
		&.btn-third-col
		{
			&:after,&:before
			{
				border-right-color: #060606;
			}
			&:hover
			{
				&:after,&:before
				{
					border-right-color: $primary-link-hover-color;
				}
			}
		}
		&:after
		{
			border-right-color: white;
			border-right-width: 10px;
			left: -9px;
		}
		
		&:before
		{
			border-right-color: #ebedf0;
			left: -10px;
		}
		&:hover
		{
			&:before,&:after
			{
				border-right-color: #ebedf0;
			}
		}
	}
}

.previous-product,.next-product
{
	width: 45px;
	height: 46px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	img
	{
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.2s ease 0s);
		top: 0;
		left: 0;
	}
	border: 1px solid $primary-border-color;
	@include box-sizing(border-box);
	font-size: 32px;
	line-height: 44px;
	text-align: center;
	float: left;
	margin-left: 10px;
	span
	{
		position: relative;
		z-index: 2;
	}
	&:hover
	{
		color: white;
		img
		{
			visibility: visible;
			opacity: 1;
		}
	}
}

.brand
{
	float: right;
	@media all and (max-width: $screen-xs-max) {
		float: none;
		display:block;
		margin: 0 auto;
	}
}

.product-reviews
{
	float: left;
	vertical-align: top;
	>a
	{
		margin-right: 15px;
		margin-bottom: 10px;
		white-space: nowrap;
		vertical-align: top;
		line-height: 15px;
	}
	.stars-rating
	{
		margin-right: 10px;
		margin-bottom: 10px;
		vertical-align: top;
		line-height: 15px;
	}

}

.product-info
{
	@media all and (min-width: $screen-lg-min) {
		
		padding: 0;
		margin-left: -15px;
	}
	h3
	{
		margin-top: 0;
		margin-bottom: 5px;
	}

	.hr
	{
		display: block;
		clear: both;
		padding-top: 10px;
		border-bottom: 1px solid $primary-border-color;
		height: 0;
		margin-bottom: 23px;
		width: 100%;
		&:before,&:after
		{
			content: "";
			display: block;
			height: 0;
			clear: both;
		}
	}

	.price
	{
		font: 600 30px/30px $secondary-font-family;
		color: black;
		vertical-align: middle;
		float: left;
		margin-bottom: 10px;
		margin-right: 20px;
		.old-price
		{
			font: italic 18px/30px $secondary-font-family;
			color: #a3a3a3; 
			text-decoration: line-through;
			vertical-align: middle;
		}
	}
}


.availability
{
	color: $primary-text-color;
	margin-top: 2px;
	margin-bottom: 15px;
	display: inline-block;
	span
	{
		color: #9198a1;
		margin-left: 5px;
		span
		{
			display: inline-block;
			width: 11px;
			height: 11px;
			@include border-radius(50%);
			margin-right: 5px;
			vertical-align: -1px;
			&.in-stock
			{
				background-color: #26cdb3;
			}
			&.out-stock
			{
				background-color: #c6c6c6;
			}
		}
	}
}

.col-xs-pull-left
{
	@media all and (min-width: 0) {
		float: left;
	}
}

.col-sm-pull-right
{
	@media all and (min-width: $screen-sm-min) {
		float: right;
	}
}

.availability + .hr
{
	margin-bottom: 15px;
}

.data-info
{
	font: 13px $primary-font-family;
	color: $primary-text-color;
	margin-bottom: 5px;
	span
	{
		color: $body-text-color;
		margin-left: 10px;
	}
}

.data-info + .hr
{
	padding-top: 13px;
	margin-bottom: 15px;
}

.tech-info
{
	font-size: 12px;
	color: $primary-text-color;
	list-style: none;
	padding-left: 0;
	margin-top: -2px;
	margin-bottom: 6px;
	div
	{
		padding-left: 0;
	}
	span
	{
		display: block;
		&:before
		{
			content: "•\a0\a0";
		}
	}
}

.tech-info + .hr
{
	margin-bottom: 15px;
}

.color-blocks
{
	.color
	{
		height: auto;
		padding: 0;
		margin: 0 7px 7px 0;

		input
		{
			display: none;
		}
		label,a
		{
			width: 33px;
			height: 34px;
			border: 1px solid #828385;
			padding: 1px;
			background-clip: content-box;
			cursor: pointer;
			float: left;
			margin: 0;
			@include user-select(none);
			&.white
			{
				background-color: white;
			}
			&.peach
			{
				background-color: #ff8f68;
			}
			&.blue
			{
				background-color: #2aabe1;
			}

			&.orange
			{
				background-color: #ff6c00;
			}

			&.yellow
			{
				background-color: #ffe159;
			}

			&.lime
			{
				background-color: #93ca6c;
			}

			&.pink
			{
				background-color: #f7acbc;
			}

			&.cherry
			{
				background-color: #e04145;
			}

		}
		input:checked + label
		{
			border-width: 2px;
		}
	}
}

.color-blocks + .hr
{
	padding-top: 13px;
	margin-bottom: 16px;
}

.secondary-font-family
{
	font-family: $secondary-font-family !important;
}

.size-blocks
{
	margin-top: 8px;
	margin-bottom: 6px;
	.size
	{
		height: auto;
		padding: 0;
		margin: 0 7px 7px 0;
		input
		{
			display: none;
		}
		label,a
		{
			width: 33px;
			height: 34px;
			border: 1px solid #828385;
			padding: 1px;
			background-clip: content-box;
			cursor: pointer;
			float: left;
			margin: 0;
			color: #71747a;
			font: 13px/32px $secondary-font-family;
			text-align: center;
			text-transform: uppercase;
			@include user-select(none);
		}
		input:checked + label
		{
			border-width: 2px;
			line-height: 30px;
		}
	}
}

.product-count
{
	margin-right: 38px;
	margin-bottom: 13px;
	white-space: nowrap;
	>*,input.form-control:disabled
	{
		display: inline-block;
		width: 46px;
		height: 44px;
		font: 23px/42px $primary-font-family;
		padding: 0;
		background-color: #fff;
		border: 1px solid #e1e3e6;
		vertical-align: middle;
		text-indent: 0;
		text-align: center;
	}
	input.form-control:disabled
	{
		margin-left: 5px;
		margin-right: 5px;
		cursor: default;
		color: $primary-text-color;
	}
	.btn:hover { color: #212224; }
	.btn:focus:not(:hover) { background: none; border-color: #e1e3e6;}
	.btn { color: #8a9099; }
}

.product-info .add-cart
{
	margin-bottom: 13px;
}

.btn-gray
{
	background-color: #e3e3e3;
	color: #8a9099;
	margin-bottom: 13px;
	float: left;
	margin-right: 8px;
	font-size: 18px;
	line-height: 46px;
	height: 44px;
	width: 44px;
	padding: 0;
	text-align: center;

}

.product-info .btn-sec-col + .btn-gray
{
	margin-left: 16px;
}

.product-tabs
{
	.nav.nav-tabs
	{
		li
		{
			margin-right: 8px;
			margin-bottom: 8px;
			a
			{
				background-color: white;
				height: 40px;
				font: 13px/40px $secondary-font-family;
				color: #6e737a;
				border: 1px solid #e1e3e6;
				@include box-sizing(border-box);
				padding-left: 12px;
				padding-right: 12px;
			}

			&.active,&:hover
			{
				a
				{
					background-color: #060606;
					color: $primary-link-hover-color;
					border-color: transparent;

				}
			}

			&.active
			{
				a
				{
					cursor: default;
					position: relative;
					&:after
					{
						content: '';
						display: block;
						height: 0;
						width: 0;
						border: 5px solid transparent;
						border-top-color: #060606;
						position: absolute;
						bottom: -10px;
						left: 50%;
						@include translateX(-50%);
					}
				}
			}
		}
	}

	.tab-content
	{
		.tab-pane
		{
			border: none;
			padding-left: 0;
			padding-right: 0;
			padding-top: 12px;
			.type-text
			{
				font-family: $secondary-font-family;
			}

			&#tab-review
			{
				.you-rating
				{
					margin-bottom: 17px;
					.stars-rating
					{
						.stars
						{
							width: 0;
						}
						&:hover
						{
							.stars
							{
								width: 100%;
							}
						}
						@include box-sizing(content-box);
						padding-right: 7px;
						border-right: 1px solid $primary-border-color;
						margin-right: 5px;
						//clip: rect(0 5px 0 5px);
						@include background-clip(content-box);
					}
					.stars-rating.stars-1
					{
						width: 73px*0.2;
					}
					.stars-rating.stars-2
					{
						width: 73px*0.4;
					}
					.stars-rating.stars-3
					{
						width: 73px*0.6;
					}
					.stars-rating.stars-4
					{
						width: 73px*0.8;
					}
					.stars-rating.stars-5
					{
						width: 73px;
					}
				}

				textarea
				{
					margin-top: 10px;
				}

				button[type=submit]
				{
					padding-top: 11px;
					padding-bottom: 11px;
					font: 14px $primary-font-family;
				}
			}
		}
	}
}


/*===========================================================================*\
|  Product page  -  Zoom
\*===========================================================================*/ 

.big-image
{
	max-width: 600px;
	width: 100%;
	border: 1px solid $primary-border-color;
	position: relative;
	text-align: center;
	overflow: hidden;
	@include box-sizing(border-box);
	@media all and (max-width: $screen-md-max) {
		float: none;
		margin-top: 37px;
		.zoomWrapper
		{
			width: 100% !important;
			height: auto !important;
			img{
				position: static !important;
				width: auto !important;
				height: auto !important;
				@include translate(0,0);
			}
			img + img
			{
				position: absolute !important;
				top: 0 !important;
				@include translateX(-50%);
			}
		}
	}
	&.product-page
	{
		@media all and (min-width: $screen-lg-min) {
			.zoomWrapper
			{
				min-height: 670px;
				line-height: 668px;
				img
				{
					vertical-align: middle;
				}
			}
		}
	}
	
}

.qview
{
	overflow: hidden;
	.product-images
	{
		@media all and(max-width: $screen-md-max) {
			text-align: center;
		}
	}
	.zoom-content
	{
		padding-bottom: 30px;
		margin-bottom: 30px;
		@media all and(min-width: $screen-sm-min) {
			display: inline-block;
			min-width: 605px;
		}
	}
	.big-image
	{
		max-width: 500px;
		float: right;
		margin-top: 0;
		@media all and (max-width: $screen-xs-max) {
			float: none;
			margin: 0 auto;
		}
		.zoomWrapper
		{
				width: 100% !important;
				height: auto !important;
				img{
					position: static !important;
					width: auto !important;
					height: auto !important;
					@include translate(0,0);
				}
			img + img
			{
				position: absolute !important;
				top: 0 !important;
				@include translateX(-50%);
			}

		}
	}

	.thumbnails
	{
		float: right;
		height: 600px;
		width: 90px;
		margin-right: 15px;
		.bx-viewport
		{
			height: 600px !important;
		}
		.bx-controls-direction
		{
			a
			{
				transform-origin: center center 0;
				line-height: 27px;
				position: absolute;
				bottom: -40px;
				top: auto;
				left: 50%;
				margin: 0;
				&.bx-prev
				{
					@include transform(translateX(-100%) rotate(90deg));
				}
				&.bx-next
				{
					@include transform(rotate(90deg));
					left: 50%;
				}

				&:hover
				{
					background:$primary-link-hover-color;
					border-color: $primary-link-hover-color;
					color: white;
				}
				&:after
				{
				}
			}
		}
		ul
		{
			padding: 0;
			li
			{
				position: absolute;
				left: 50%;
				@include translateX(-50%);
				width: 80px !important;
				height: 110px;
				line-height: 100px;
				a
				{
					vertical-align: middle;
					display: block;
					width: 100%;
					height: 100%;
					border: 1px solid $primary-border-color;
					&.zoomThumbActive
					{
    					border:2px solid $primary-link-hover-color;
					}
					img
					{
						vertical-align: middle;
					}
				}
			}
		}
	}

	@media all and (max-width: $screen-xs-max) {
		.thumbnails
		{
			float: none;
			height: auto;
			width: auto;
			margin: 20px 0 0 0;
			.bx-viewport
			{
				height: auto !important;
			}
			.bx-controls-direction
			{
				a
				{
					bottom: 0;
					&.bx-prev
					{
						@include transform(translateX(-100%) rotate(0));
					}
					&.bx-next
					{
						@include transform(rotate(0));
					}
				}
			}
			ul
			{
				li
				{
					a
					{
						display: block;
						width: 100%;
						height: 100%;
						img
						{
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}

.zoomLens
{
	z-index: 99999;
	-webkit-transform: translateZ(1px);
}

.zoomContainer
{
	overflow: visible;

	.zoomWindowContainer
	{
		display: none;
	}
}

.zoomWrapper
{
	position: relative;
	display: inline-block;
	img
	{
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%,-50%);
	}

	width: 100% !important;
				height: auto !important;
				img{
					position: static !important;
					width: auto !important;
					height: auto !important;
					@include translate(0,0);
				}
			img + img
			{
				position: absolute !important;
				top: 0 !important;
				@include translateX(-50%);
			}
}




/*********************************************************
/ When clicking on thumbs will add the class
/ "zoomThumbActive" on the anchor selected
/*********************************************************/

ul#thumblist{display:block;}
ul#thumblist li{list-style:none; text-align: center;}
ul#thumblist li a
{
	display:block;
	border:1px solid #CCC; 
	text-align: center; 
	@include box-sizing(border-box); 
	height: 120px; 
	overflow: hidden;
	position: relative;
	img
	{
		height: 100%;
		width: auto;
		max-width: none;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%,-50%);
	}
}

ul#thumblist li a.zoomThumbActive
{
    border:2px solid $primary-link-hover-color;
}



/*===========================================================================*\
|  Product page  -  bxslider
\*===========================================================================*/ 
.thumbnails
{
	max-width: 600px;
	position: relative;
	.bx-controls-direction
	{
		height: 0;

		a
		{
		    border: 1px solid #d7d9db;
		    display: inline-block;
		    font-size: 18px;
		    height: 30px;
		    line-height: 28px;
		    text-align: center;
		    width: 30px;
		    position: absolute;
		    left: 0;
		    top: 50%;
		    @include translateY(-50%);
			&:after {
			    content: "4";
			    font-family: ElegantIcons;
			}
			&:hover {
			    color: #dccc99;
			}
			&.bx-next {
			    left: auto;
			    right: 0;
			    &:after {
				    content: "5";
				}
			}
		}

		@media all and (max-width: $screen-md-max) {
			height: 30px;
			text-align: center;
			margin-top: 15px;
			a
			{
				position: static;
		    	@include translateY(0);
		    	margin: 0 15px;
		    	float: left;
		    	&.bx-next {
		    		float: right;
		    	}
			}
	    }

		.disabled
		{
			visibility: hidden;
		}
	}
}

.product-images
{
	overflow: hidden;
	.article-info
	{
		max-width: 600px;
		padding: 0;
	}
}
.article-info .share-wrapp
{
	padding-top: 18px;
	.h7
	{
		margin-top: 5px;
		float: left;
	}
}

.article-info .print-wrapp
{
	margin-top: 18px;
	margin-bottom: 30px;
	padding-top: 0;
}

.h7
{
	font: 600 13px $secondary-font-family;
	color: $primary-text-color;
}

.print
{
	font-size: 13px;
	vertical-align: middle;
	span
	{
		font-size: 16px;
		margin-right: 8px;
		vertical-align: middle;
	}
}

.zoom-content
{
	margin-bottom: 10px;
	position: relative;
	#product-video-button,#product-pupGallery-button
	{
		position: absolute;
		right: 30px;
		width: 40px;
		height: 37px;
		padding: 0;
		text-align: center;
		vertical-align: middle;
		line-height: 37px;
		background-color: #d9d9d9;
		color: white;
		border: none;
		&:hover
		{
			background-color: #060606;
		}
	}
	#product-pupGallery-button
	{
		top: -1px;
		font-size: 16px;

		@media all and (max-width: $screen-md-max) {
			top: 0px;
			left: 0px;
		}
	}
	#product-video-button
	{
		top: 41px;
		font-size: 18px;
		@media all and (max-width: $screen-md-max) {
			top: 0px;
			left: 46px;
		}
	}
}

.zoom-content-2
{
	.big-image
	{
		float: left;
		border: none;
		max-width: 680px;
		width: 100%;
		text-align: center;
		background-color: #fff;
		overflow: hidden;
		@media all and (max-width: $screen-md-max) {
			float: none;
			margin: 0 auto;
			.zoomWrapper
			{
					width: 100% !important;
					height: auto !important;
					img{
						position: static !important;
						width: auto !important;
						height: auto !important;
						@include translate(0,0);
					}
				img + img
				{
					position: absolute !important;
					top: 0 !important;
					@include translateX(-50%);
				}

			}
		}
		@media all and (min-width: $screen-lg-min) {
			.zoomWrapper
			{
				min-height: 670px;
				line-height: 668px;
				img
				{
					vertical-align: middle;
				}
			}
		}
		.zoomWindowContainer
		{
			display: none;
		}
	}
	.thumbnails
	{
		width: 205px;
		height: 611px;
		margin-top: 30px;
		margin-bottom: 30px;
		overflow: auto;
		float: right;
		@media all and (max-width: $screen-md-max) {
			width: 100%;
			float: none;
			margin: 20px auto;
			height: 220px;
			padding-left: 20px;
		}
		ul
		{
			width: 100%;
			padding: 0;
			display:block;
			li
			{
				list-style: none;
				display: inline-block;
				margin-right: 10px;
				margin-bottom: 12px;

				@include box-sizing(border-box);
				a
				{
					display:block;
					border:1px solid $primary-border-color; 
					text-align: center; 
					@include box-sizing(border-box); 
					overflow: hidden;
					position: relative;

					width: 82px;
					height: 102px;
					&.zoomThumbActive
					{
				    	border:2px solid $primary-link-hover-color;
					}
					img
					{
						position: absolute;
						top: 50%;
						left: 0;
						@include translateY(-50%);
					}
				}
			}
		}
	}
}

#product-pupGallery-box
{
	.modal-body
	{
		background-color: whitesmoke;
		padding: 0;
	}
}

.qview
{
	.modal-dialog.modal-lg
	{
		@media all and (min-width: $screen-lg-min) {
			width: $container-lg - 50px;	
		}
		@media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			width: $container-md - 50px;
		}
		@media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width: $container-sm - 50px;
		}
		.modal-body.modal-body-info
		{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}