<div class="pg-body">
    <div class="container contact">
       <div class="row">
          <div class="col-md-9 col-sm-12">
             <form action="/" class="validation-engine">
                <div class="google-maps">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224568.30237037071!2d76.84969633013718!3d28.42288586405383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19d582e38859%3A0x2cf5fe8e5c64b1e!2sGurugram%2C+Haryana!5e0!3m2!1sen!2sin!4v1554305015234!5m2!1sen!2sin" width="370" height="150"></iframe>
                </div>
                <h6>LEAVE A REPLY</h6>
                <div class="row">
                   <div class="col-sm-6 col-xs-12">
                      <div class="required form-group">
                         <input type="text" class="form-control validate[required]" data-prompt-position="topLeft" placeholder="Name *">
                      </div>
                      <div class="required form-group">
                         <input type="text" class="form-control validate[required,custom[email]]" data-prompt-position="topLeft" placeholder="E-mail *">
                      </div>
                      <div class="required form-group">
                         <input type="text" class="form-control validate[required]" data-prompt-position="topLeft" placeholder="Enter your subgect *">
                      </div>
                      <p>Your email adress will not published. Reguired fields are marked *</p>
                   </div>
                   <div class="col-sm-6 col-xs-12">
                      <div class="required form-group">
                         <textarea class="form-control validate[required]" data-prompt-position="topLeft" rows="6" placeholder="Your comment"></textarea>
                      </div>
                      <div class="required form-group">
                         <button class="btn btn-sm btn-third-col col-xs-12" type="submit">POST COMMENT</button>
                      </div>
                   </div>
                </div>
             </form>
          </div>
          <div class="col-sm-12 col-md-3">
             <h6>TEAM</h6>
             <div class="person">
                <div class="img-cover"><img src="assets/images/av_3.jpg" alt="#"></div>
                <div class="name">Lalit Aggarwal<span> – Associate Lead</span></div>
                <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+91 9873463799</span></div>
                <div class="email"><i class="icon-envelope-open"></i><a href="mailto:lalit.aggarwal@nagarro.com">lalit.aggarwal@nagarro.com</a></div>
             </div>
             <div class="person">
               <div class="img-cover"><img src="assets/images/av_3.jpg" alt="#"></div>
               <div class="name">Sumit Maan<span> – Lead</span></div>
               <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+91 8860951868</span></div>
               <div class="email"><i class="icon-envelope-open"></i><a href="mailto:sumit.maan@nagarro.com">sumit.maan@nagarro.com</a></div>
            </div>
            <div class="person">
               <div class="img-cover"><img src="assets/images/av_3.jpg" alt="#"></div>
               <div class="name">Sachin Mehta<span> – Associate Lead</span></div>
               <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+91 8882525185</span></div>
               <div class="email"><i class="icon-envelope-open"></i><a href="mailto:sachin.mehta@nagarro.com">sachin.mehta@nagarro.com</a></div>
            </div>
            <div class="person">
               <div class="img-cover"><img src="assets/images/av_3.jpg" alt="#"></div>
               <div class="name">Himanshu Khandelwal<span> – Senior Associate</span></div>
               <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+91 9873022789</span></div>
               <div class="email"><i class="icon-envelope-open"></i><a href="mailto:himanshu.khandelwal@nagarro.com">himanshu.khandelwal@nagarro.com</a></div>
            </div>
            <div class="person">
               <div class="img-cover"><img src="assets/images/av_3.jpg" alt="#"></div>
               <div class="name">Ravneet Sodhi<span> – Associate Lead</span></div>
               <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+91 8826001120</span></div>
               <div class="email"><i class="icon-envelope-open"></i><a href="mailto:ravneet.sodhi@nagarro.com">ravneet.sodhi@nagarro.com</a></div>
            </div>
            <div class="person">
               <div class="img-cover"><img src="assets/images/av_3.jpg" alt="#"></div>
               <div class="name">Sonali Jain<span> – Senior Associate</span></div>
               <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+91 9873561908</span></div>
               <div class="email"><i class="icon-envelope-open"></i><a href="mailto:sonali.jain@nagarro.com">sonali.jain@nagarro.com</a></div>
            </div>
          </div>
       </div>
    </div>
 </div>