<div class="pg-body">
    <div class="container container-sm-fullwidth">
       <div class="row">
          <div class="gap-60"></div>
          <div class="col-md-8 blog container-collapse clearfix">


             <div class="short-post col-xs-12">
                <div class="col-sm-1 col-xs-12 left-info"> 
                   <div class="row">
                      <div class="icon hidden-xs"><span class="icon-pencil"></span></div>
                      <div class="date">08 May</div>
                      <div class="after-date"><span class="icon-heart"></span>1256</div>
                      <div class="after-date"><span class="icon-bubbles"></span>2652</div>
                   </div>
                </div>
                <div class="col-sm-11 col-xs-12">
                   <div class="row">
                      <div class="row">
                         <div class="cover col-xs-12"><img src="assets/images/woman.jpg" alt="image"></div>
                         <div class="article-info col-xs-12">
                            <div class="for-border-bottom">
                               <span class="tag"><span class="icon-tag"></span>WOMAN WEARS</span>
                               <span class="author"><span class="icon-user"></span>JOHN DOE</span>
                               <span class="views"><span class="icon-eye"></span>132 VIEWS</span>
                            </div>
                         </div>
                      </div>
                      <h4>Shop+ THE BEST SHOP WAS CREATED ESPECIALLY FOR YOU</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, quae ab illo inventore veritatis et quasi architecto explicabo.</p>
                      <a href="single-blog.html" class="btn btn-sm btn-third-col">read more</a>
                   </div>
                </div>
             </div>


             <div class="short-post col-xs-12">
                <div class="col-sm-1 col-xs-12 left-info"> 
                   <div class="row">
                      <div class="icon hidden-xs"><span class="icon-picture"></span></div>
                      <div class="date">08 May</div>
                      <div class="after-date"><span class="icon-heart"></span>1256</div>
                      <div class="after-date"><span class="icon-bubbles"></span>2652</div>
                   </div>
                </div>
                <div class="col-sm-11 col-xs-12">
                   <div class="row">
                      <div class="row">
                         <div class="cover col-xs-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                <div class="item active">
                                  <img src="assets/images/woman2.jpg" alt="image">
                                </div>
                                <div class="item">
                                  <img src="assets/images/woman.jpg" alt="image">
                                </div>
                              </div>

                              <!-- Controls -->
                              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="arrow_carrot-left"></span>
                              </a>
                              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="arrow_carrot-right"></span>
                              </a>
                            </div>
                         </div>
                         <div class="article-info col-xs-12">
                            <div class="for-border-bottom">
                               <span class="tag"><span class="icon-tag"></span>WOMAN WEARS</span>
                               <span class="author"><span class="icon-user"></span>JOHN DOE</span>
                               <span class="views"><span class="icon-eye"></span>132 VIEWS</span>
                            </div>
                         </div>
                      </div>
                      <h4>Shop+ THE BEST SHOP WAS CREATED ESPECIALLY FOR YOU</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, quae ab illo inventore veritatis et quasi architecto explicabo.</p>
                      <a href="single-blog.html" class="btn btn-sm btn-third-col">read more</a>
                   </div>
                </div>
             </div>


             <div class="short-post col-xs-12">
                <div class="col-sm-1 col-xs-12 left-info"> 
                   <div class="row">
                      <div class="icon hidden-xs"><span class="icon-camcorder"></span></div>
                      <div class="date">08 May</div>
                      <div class="after-date"><span class="icon-heart"></span>1256</div>
                      <div class="after-date"><span class="icon-bubbles"></span>2652</div>
                   </div>
                </div>
                <div class="col-sm-11 col-xs-12">
                   <div class="row">
                      <div class="row">
                         <div class="cover col-xs-12">
                            <div class="embed-responsive embed-responsive-16by9">
                               <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zTJkgHuYt_8?rel=0" allowfullscreen=""></iframe>
                            </div>
                         </div>
                         <div class="article-info col-xs-12">
                            <div class="for-border-bottom">
                               <span class="tag"><span class="icon-tag"></span>WOMAN WEARS</span>
                               <span class="author"><span class="icon-user"></span>JOHN DOE</span>
                               <span class="views"><span class="icon-eye"></span>132 VIEWS</span>
                            </div>
                         </div>
                      </div>
                      <h4>AWESOME VIDEO POST</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, quae ab illo inventore veritatis et quasi architecto explicabo.</p>
                      <a href="single-blog.html" class="btn btn-sm btn-third-col">read more</a>
                   </div>
                </div>
             </div>


             <div class="short-post col-xs-12">
                <div class="col-sm-1 col-xs-12 left-info"> 
                   <div class="row">
                      <div class="icon hidden-xs"><span class="icon_volume-high_alt "></span></div>
                      <div class="date">08 May</div>
                      <div class="after-date"><span class="icon-heart"></span>1256</div>
                      <div class="after-date"><span class="icon-bubbles"></span>2652</div>
                   </div>
                </div>
                <div class="col-sm-11 col-xs-12">
                   <div class="row">
                      <div class="row">
                         <div class="cover col-xs-12">
                            <audio class="custom-audio-player" src="audio/Nirvana-Smells_Like_Teen_Spirit.mp3" controls preload="metadata"></audio>
                         </div>
                         <div class="article-info col-xs-12">
                            <div class="for-border-bottom">
                               <span class="tag"><span class="icon-tag"></span>WOMAN WEARS</span>
                               <span class="author"><span class="icon-user"></span>JOHN DOE</span>
                               <span class="views"><span class="icon-eye"></span>132 VIEWS</span>
                            </div>
                         </div>
                      </div>
                      <h4>THIS IS AUDIO POST</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, quae ab illo inventore veritatis et quasi architecto explicabo.</p>
                      <a href="single-blog.html" class="btn btn-sm btn-third-col">read more</a>
                   </div>
                </div>
             </div>


             <div class="short-post col-xs-12">
                <div class="col-sm-1 col-xs-12 left-info"> 
                   <div class="row">
                      <div class="icon hidden-xs"><span class="icon_quotations"></span></div>
                      <div class="date">08 May</div>
                      <div class="after-date"><span class="icon-heart"></span>1256</div>
                      <div class="after-date"><span class="icon-bubbles"></span>2652</div>
                   </div>
                </div>
                <div class="col-sm-11 col-xs-12">
                   <div class="row">
                      <div class="row">
                         <div class="cover col-xs-12">
                            <blockquote class="blog-quote">
                               <p>“Difficulty increases as you get closer to your goal. But let each one makes its way like stars quietly, slowly, but constantly trying to target.”</p>
                               <span>&mdash; Donald Tramp</span>
                            </blockquote>
                         </div>
                         <div class="article-info col-xs-12">
                            <div class="for-border-bottom">
                               <span class="tag"><span class="icon-tag"></span>WOMAN WEARS</span>
                               <span class="author"><span class="icon-user"></span>JOHN DOE</span>
                               <span class="views"><span class="icon-eye"></span>132 VIEWS</span>
                            </div>
                         </div>
                      </div>
                      <a href="single-blog.html" class="btn btn-sm btn-third-col">read more</a>
                   </div>
                </div>
             </div>

             
             <div class="nav blog-nav col-xs-12">
                <span class="pull-left">Items 1 or 15 of 87 total</span>
                <div class="wp-pagenavi pull-right">
                   <span class="current btn btn-sec-col">1</span>
                   <a class="page btn btn-prim-col" href="#">2</a>
                   <a class="page btn btn-prim-col" href="#">3</a>
                   <a class="page btn btn-prim-col" href="#">4</a>
                   <a class="page btn btn-prim-col" href="#">5</a>
                   <a class="nextpostlink btn btn-prim-col arrow_carrot-right" href="#"></a>
                </div>
             </div>

          </div>




          <div class="col-md-4 clearfix sidebar">
             <div class="col-xs-12 container-collapse">
                <div class="col-xs-12">
                   <div class="sidebar-subscribe mobile-collapse clearfix">
                      <div class="title-type-1 mobile-collapse-header">
                         SUBSCRIBE FOR OUR NEWS
                      </div>
                      <div class="mobile-collapse-body">
                         <form action="#">
                            <div class="col-xs-8">
                               <div class="form-group"><input type="email" name="email" class="form-control placeholder-fix" placeholder="Enter your Email"></div>
                            </div>
                            <div class="col-xs-4"><button type="submit" class="btn btn-third-col w100">SUBSCRIBE</button></div>
                         </form>
                      </div>
                   </div>

                   <div class="sidebar-categories mobile-collapse">
                      <div class="title-type-1 mobile-collapse-header">
                         CATEGORIES
                      </div>
                      <div class="mobile-collapse-body">
                         <ul>
                            <li><a href="category.html">Sweaters <span>23</span></a></li>
                            <li><a href="category.html">Accessories <span>2</span></a></li>
                            <li><a href="category.html">Shoes <span>15</span></a></li>
                            <li><a href="category.html">Dresses <span>26</span></a></li>
                            <li><a href="category.html">Jeans <span>56</span></a></li>
                         </ul>
                      </div>
                   </div>

                   <div class="most-popular-box box-with-pager mobile-collapse sidebar-popular-posts">
                      <div class="title-type-1 mobile-collapse-header">
                         POPULAR POSTS
                      </div>
                      <div class="mobile-collapse-body">
                         <ul class="vertical-bx-1">
                            <li>
                               <a href="single-blog.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/post-1.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, <br>
                                        eiusmod  incididunt  nulla pariatur.   </p>
                                        <span class="post-info">May 10, 2016 |  By John Doe</span>
                                     </figcaption>
                                  </figure>
                               </a>
                               <a href="single-blog.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/post-2.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, <br>
                                        eiusmod  incididunt  nulla pariatur.   </p>
                                        <span class="post-info">Nov 19, 2016 |  By John Doe</span>
                                     </figcaption>
                                  </figure>
                               </a>
                               <a href="single-blog.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/post-3.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, <br>
                                        eiusmod  incididunt  nulla pariatur.   </p>
                                        <span class="post-info">Oct 04, 2016 |  By John Doe</span>
                                     </figcaption>
                                  </figure>
                               </a>
                            </li>
                            <li>
                               <a href="single-blog.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/post-1.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, <br>
                                        eiusmod  incididunt  nulla pariatur.   </p>
                                        <span class="post-info">May 10, 2016 |  By John Doe</span>
                                     </figcaption>
                                  </figure>
                               </a>
                               <a href="single-blog.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/post-2.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, <br>
                                        eiusmod  incididunt  nulla pariatur.   </p>
                                        <span class="post-info">Nov 19, 2016 |  By John Doe</span>
                                     </figcaption>
                                  </figure>
                               </a>
                               <a href="single-blog.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/post-3.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, <br>
                                        eiusmod  incididunt  nulla pariatur.   </p>
                                        <span class="post-info">Oct 04, 2016 |  By John Doe</span>
                                     </figcaption>
                                  </figure>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>

                   <div class="most-popular-box box-with-pager mobile-collapse sidebar-comments">
                      <div class="title-type-1 mobile-collapse-header">
                         COMMENTS
                      </div>
                      <div class="mobile-collapse-body">
                         <ul class="vertical-bx-1">
                            <li>
                               <a href="review_page.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/av_1.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing  eiusmod tempor incididunt exercitation.</p>
                                        <span class="post-info">John Doe <span>– Happy customer</span></span>
                                     </figcaption>
                                  </figure>
                               </a>
                               <a href="review_page.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/av_2.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing  eiusmod tempor incididunt exercitation.</p>
                                        <span class="post-info">John Doe <span>– Happy customer</span></span>
                                     </figcaption>
                                  </figure>
                               </a>
                               <a href="review_page.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/av_3.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing  eiusmod tempor incididunt exercitation.</p>
                                        <span class="post-info">John Doe <span>– Happy customer</span></span>
                                     </figcaption>
                                  </figure>
                               </a>
                            </li>
                            <li>
                               <a href="review_page.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/av_1.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing  eiusmod tempor incididunt exercitation.</p>
                                        <span class="post-info">John Doe <span>– Happy customer</span></span>
                                     </figcaption>
                                  </figure>
                               </a>
                               <a href="review_page.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/av_2.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing  eiusmod tempor incididunt exercitation.</p>
                                        <span class="post-info">John Doe <span>– Happy customer</span></span>
                                     </figcaption>
                                  </figure>
                               </a>
                               <a href="review_page.html">      
                                  <figure>
                                     <span class="img-cover"><img src="assets/images/av_3.jpg" alt="image name" ></span>
                                     <figcaption>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing  eiusmod tempor incididunt exercitation.</p>
                                        <span class="post-info">John Doe <span>– Happy customer</span></span>
                                     </figcaption>
                                  </figure>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>

                   <div class="sidebar-accordion mobile-collapse clearfix">
                      <div class="title-type-1 mobile-collapse-header">
                         ABOUT BLOG
                      </div>
                      <div class="mobile-collapse-body">
                         <div id="accordion1">
                            <div class="accordion-group panel">
                               <a href="#collapse1" data-parent="#accordion1" data-toggle="collapse" class="accordion-header">
                                  Who We Are
                               </a>
                               <div class="collapse in" id="collapse1">
                                  <div class="accordion-body">
                                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam sem, hendrerit ut faubus sit amet, bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. vipsum nectac ligula placerat sollicitudin. Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc lobortis dui neque, quis accumsan dolor. Aenean aliquet dignissim semper maecenas ullamcorper.</p>
                                  </div>
                               </div>
                            </div>
                            <div class="accordion-group panel">
                               <a href="#collapse2" data-parent="#accordion1" data-toggle="collapse" class="accordion-header collapsed">
                                  What We Do
                               </a>
                               <div class="collapse" id="collapse2">
                                  <div class="accordion-body">
                                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam sem, hendrerit ut faubus sit amet, bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. vipsum nectac ligula placerat sollicitudin. Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc lobortis dui neque, quis accumsan dolor. Aenean aliquet dignissim semper maecenas ullamcorper.</p>
                                  </div>
                               </div>
                            </div>
                            <div class="accordion-group panel">
                               <a href="#collapse3" data-parent="#accordion1" data-toggle="collapse" class="accordion-header collapsed">
                                  Our Plan
                               </a>
                               <div class="collapse" id="collapse3">
                                  <div class="accordion-body">
                                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam sem, hendrerit ut faubus sit amet, bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. vipsum nectac ligula placerat sollicitudin. Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc lobortis dui neque, quis accumsan dolor. Aenean aliquet dignissim semper maecenas ullamcorper.</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>

                   <div class="mobile-collapse sidebar-tags clearfix">
                      <div class="title-type-1 mobile-collapse-header">
                         Tags
                      </div>
                      <div class="mobile-collapse-body">
                         <a href="category.html" class="btn btn-prim-col">MEN</a>
                         <a href="category.html" class="btn btn-prim-col">JEANS</a>
                         <a href="category.html" class="btn btn-prim-col"> MEN ACCESSORIES</a>
                         <a href="category.html" class="btn btn-prim-col">FABRIC</a>
                         <a href="category.html" class="btn btn-prim-col">JACKETS</a>
                         <a href="category.html" class="btn btn-prim-col">CLOTHER</a>
                         <a href="category.html" class="btn btn-prim-col">SHOES</a>
                         <a href="category.html" class="btn btn-prim-col">CASE IPAD</a>
                         <a href="category.html" class="btn btn-prim-col">SHORTS</a>
                      </div>
                   </div>

                   <div class="mobile-collapse sidebar-flickr clearfix">
                      <div class="title-type-1 mobile-collapse-header">
                         FLICKR
                      </div>
                      <div class="mobile-collapse-body">
                        
                      </div>
                   </div>
                </div>
             </div>    
          </div>
       </div>
    </div>
 </div> <!-- pg-body -->